    h2{
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}
body{
    display: block;
    margin: 10px;
}
fieldset{
    display: block;
    margin: 25px;
}
.pergunta{
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}